.voucher {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: -50px;
}

/* Kartu Voucher */
.voucher_card {
  width: 260px;
  height: 140px;
  background-color: #fff5f7;
  color: #b23a48;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  position: relative;
  transition: transform 0.3s ease;
  font-family: "Narnia", sans-serif;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  

  /* bentuk tiket */
  clip-path: path("M0,20 Q0,0 20,0 H240 Q260,0 260,20 V40 Q250,50 260,60 V120 Q260,140 240,140 H20 Q0,140 0,120 V80 Q10,70 0,60 Z");
}

.voucher_card:hover {
  transform: scale(1.05);
}

/* Judul Voucher */
.title_voucher {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}

/* Deskripsi */
.p_voucher {
  margin: 3px 0;
  font-size: 13px;
  opacity: 0.9;
}

/* Tombol */
.button_detail {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px 18px;
  background-color: #fff;
  color: #b23a48;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  transition: all 0.3s ease;
}

.button_detail:hover {
  background-color: #ffe0e0;
  color: #d94c4c;
}

/* Responsive Mobile */
@media (max-width: 480px) {
  .voucher_card {
    width: 80%;
    height: auto;
    padding: 20px;
  }

  .title_voucher {
    font-size: 16px;
  }

  .p_voucher {
    font-size: 12px;
  }

  .button_detail {
    font-size: 11px;
    padding: 3px 14px;
  }
}
